
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --very-light-brown: #F7ECDE;
    --light-brown: #E9DAC1;
    --grey-blue: #8890BA;
    --light-green: #9ED2C6;
    --green: #54BAB9;
    --sm: 13px;
    --md: 15px;
    --lg: 18px;
}
a{
    text-decoration: none;
    cursor: pointer;
}
header {
    width: 100%;
    height: 60px;
    background-color: #006d77;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header nav .header-left img{
    margin-top: 12px;
    width: 200px;
    height: 40px;
}
header .header-right{
    margin-right: 100px;
}
header .header-left{
    margin-left: 100px;
}
header .header-right .header-list{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    
}
header nav .header-right ul{
    list-style: none;
}
nav .header-right a{
    font-size: var(--md);
    margin-right: 10px;
    color: white;
    padding: 4px;
}
nav .header-right a:hover{
    color: #ffddd2;
    border: 1px solid #ffddd2;
    border-radius: 8px;
}
main{
    width: 100%;
}
main section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffddd2;
    width: 900px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 14px;
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
main section .main-section-text{
    width: 400px;
    height: 400px; 
}
main section .main-section-img{
    width: 400px;
    height: 400px;
    text-align: left;
}
main section .main-section-img img{
    height: 100%;
    width: 100%;
    
}
main section .main-section-text h1{
    margin-top: 50px;
    margin-left: 24px;
    font-size: 50px;
}
main section .main-section-text p{
    margin-left: 24px;
    font-size: var(--lg);
}
.experience-section{
    margin-top: 80px;
    background-color: #e9ecef;
    width: 100%;
    height: 650px;
    
}
.experience-section .main-experience-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.experience-section .main-experience-container .places-exp{
    padding: 0;
    margin-top: 50px;
    height: 600px;
}
.experience-section .main-experience-container .places-exp ul{
    list-style: none;
    
}
.experience-section .main-experience-container .places-exp ul li a{
    font-size: 20px;
    color: #e63946;
}
.experience-section .main-experience-container .places-exp ul li p{
    margin-bottom: 40px;
}
.experience-section .main-experience-container .logos-exp div{
    margin-top: 70px;
}

.services-contact-main-container{
    width: 100%;
    height: 600px;
    background-color: white;
    display: flex;
    margin: 0 auto;
}
.services-contact-main-container ul{
    list-style: none;
    padding: 0;   
}
.container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(45deg, hsla(195, 50%, 95%, 1) 0%, hsla(174, 36%, 64%, 1) 100%);
    border-radius: 14px;
    width: 900px;
    height: 400px;
    margin-top: 80px;
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;

}
.container ul li a{
    color: black;
    font-size: var(--lg);
    margin-left: 8px;
}
.container ul li a:hover{
    text-shadow: 2px 2px 8px #20212447;
}
.container .cotainter-contact{
    margin-right: 70px;
}
.container .services-container{
    margin-left: 70px;
}
.container .services-container ul li{
    margin-bottom: 25px;
    font-size: var(--lg);
}
.container .cotainter-contact ul li{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
footer{
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: #495057;
}
footer .footer-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
footer .footer-container img{
    width: 50px;
    height: 50px;
}
footer .footer-container p,a{
    color: white;
    font-size: 12px;
}
footer .footer-container p{
    margin-left: 25px;
}
